@use 'variables' as *;

@mixin cross-browser-transition-set-short {
    transition:             $transition-03;
    -webkit-transition:     $transition-03;
    -moz-transition:        $transition-03;
    -o-transition:          $transition-03;
}

@mixin cross-browser-transition-set-long {
    transition:             $transition-05;
    -webkit-transition:     $transition-05;
    -moz-transition:        $transition-05;
    -o-transition:          $transition-05;
}