@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Noto+Serif+Display&display=swap');

body {
    margin: 0;
}

ul > li {
    font-family: 'Noto Sans', sans-serif;
}

#footer {
    background-color: #1e1e1e;
    padding: 60px 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container {
        max-width: 100%;
        margin: auto;
        .row {
            display: flex;
            flex-wrap: wrap;
            .footer-col {
                padding: 0 15px;
                width: 25%;
                h3 {
                    color: #f5f5f5;
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 35px;
                    position: relative;
                    text-transform: capitalize;
                    font-family: 'Noto Serif Display', serif;
                    &::before {
                        box-sizing: border-box;
                        content: '';
                        height: 2px;
                        left: 0;
                        bottom: -10px;
                        background-color: #e91e63;
                        position: absolute;
                        width: 50px;
                    }
                }
                .social-links a {
                    display: inline-block;
                    height: 40px;
                    width: 40px;
                    background-color: #ffffff33;
                    color: #f5f5f5;
                    margin: 0 10px 10px 0;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 50%;
                    transition:         all 0.5s ease-in-out;
                    -webkit-transition: all 0.5s ease-in-out;
                    -moz-transition:    all 0.5s ease-in-out;
                    -o-transition:      all 0.5s ease-in-out;
                    &:hover {
                        color: #24262b;
                        background-color: #f5f5f5;
                    }
                }
                ul li:not(:last-child) {
                    margin-bottom: 10px;
                }
                ul li a {
                    display: block;
                    color: #ccc;
                    font-size: 16px;
                    text-transform: capitalize;
                    color: #f5f5f5;
                    text-decoration: none;
                    font-weight: 300;
                    transition:         all 0.3s ease-in-out;
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition:    all 0.3s ease-in-out;
                    -o-transition:      all 0.3s ease-in-out;
                    &:hover {
                        padding-left: 8px;
                    }
                }
            }
        }
    }
    ul {
        list-style-type: none;
    }
}

@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 330px) {
    .footer-col {
        width: auto;
    }
}